doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,300',rel='stylesheet',type='text/css')
		link(rel="icon",href="/images/favicon.ico",type="image/x-icon")
		script(src="/javascripts/jquery-2.2.4.min.js")

	body(class="login-body")
		block content
