h2(style="margin:5px 0;") Things to do Before Conducting a Search

div#profile
	p(class="survival")
		|We at llama finder strongly advised against conducting a search on your own. If you are going to
		|attempt to conduct a search, make sure you do it in teams of two. There are several things to remember
		|before you begin your search, ensure that someone knows where you will be at all time, and make sure
		|you have follow items with you while you are out on your search.
		ul(class="survival")
			li Water.
			li A small lighter. We do not recommend matches as they are susceptible to weather.
			li Personal first aid kit for each person.
			li Survival knife.
			li Firestarter squares
	p(class="survival")
		|These items are essential in the even that you get lost or separated.
		|If you find yourself lost or separated from your group and you don’t have a phone with you, remain calm
		|and stay where you are. If you move, you may make it more difficult for searchers to find you. Make a
		|clearing, gather some wood, and start a fire. The smoke from the fire may lead searchers to your
		|location.

a#survclose(class="close") x

script
	include ../public/javascripts/close.js
	include ../public/javascripts/height.js

