* {
    margin: 0;
    padding: 0;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;

}

html {
    text-rendering: optimizeLegibility;

}

#content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
	overflow: hidden;
}

#map {
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

#top {
    position: relative;
    width: 100%;
    height: 26px;
    top: 0;
    background-color: #222222;
	z-index: 1;
}

#bottom {
    position: relative;
    width: 100%;
    height: 30px;
    bottom: 0;
    background: #222222;
    flex-grow: 2;
}

body {

}

.bg-w {
    background-color: #FFFFFF;
}

.bg-lb {
    background-color: #e7e7ef;
}

.bg-b {
    background-color: #A1B2C2;
}

.bg-db {
    background-color: #6F889F;
}

button {
    background-color: #4294DE;
    color: white;
    font-weight: bold;
}

.centered {
	align-self: center;
}

#logo > img {
    height: 45px;
    width: auto;
}

#logo {
    display: block;
    z-index: 1;
    position: absolute;
    top: 0;
    left: calc(50% - 148px);
}

#s-name {
    display: block;
    z-index: 1;
    position: absolute;
	vertical-align: middle;
    left: 4px;
    color: white;
	text-align: right;
	font-size: 1.1em;
	top: -3px;
}

#searchlist > li, h1, h3 {
	color: white;
	margin-bottom: 15px;
	margin-left: 5px;
}

h4 {
	color: black;
	margin-bottom: 15px;
	margin-left: 5px;
	font-size: 1.25em;
	font-weight: bold;
}

#searchlist > li > p {
	margin-left: 10px;
}

#s-name p{
	font-size: .75em;
}

#role > p {
	font-size: .9em;
}

#role {
    color: white;
    vertical-align: middle;
    padding-right: 5px;
}

#error {
	font-weight: bold;
	color: red;
	font-size: 1.2em;
	text-align: center;
	margin: 0 auto;
	width: 500px;
	position: absolute;
	top: calc(50% + 180px);
	right: calc(50% - 250px);
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}




/*
        *    RESET
        */
*{
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}

*:after,
*:before {
    box-sizing: border-box;
}


a.close {
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    display: block;
    font-size: 2em;
    padding: .2em .5em;
    position: absolute;
    top: 1.25rem;
    transition: all 400ms ease;
    right: 1.25rem;
}

a.close:hover, #survclose {
    background-color: #444;
    cursor: pointer;
}

/*
*    LOG-IN BOX
*/
div.overlay {
    background-color: rgba(0,0,0,.25);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

div.overlay > div.login-wrapper {
    align-self: center;
    background-color: rgba(0,0,0,.25);
    border-radius: 2px;
    padding: 6px;
    width: 500px;
}

div.overlay > div.login-wrapper > div.login-content {
    background-color: rgb(255,255,255);
    border-radius: 2px;
    padding: 24px;
    position: absolute;
	width:500px;
	top: calc(50% - 220px);
}

div.overlay > div.login-wrapper > div.login-content > h3 {
    color: rgb(0,0,0);
    font-size: 1.8em;
    margin: 0 0 1em;
    padding: 0;
}
/*
*    FORM
*/
form label {
    color: rgb(0,0,0);
    display: block;
    font-size: 1.25em;
    margin: 25px 0 5px 0;
    line-height: 80%;
}

#formLogin > p {
	font-size: .75em;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="password"],
form textarea {
    background-color: rgb(255,255,255);
    border: 1px solid rgb( 186, 186, 186 );
    border-radius: 1px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    display: block;
    font-size: .8em;
    margin: 5px 0 12px 0;
    padding: .8em .55em;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    transition: all 400ms ease;
    width: 100%;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="search"]:focus,
form input[type="password"]:focus,
form textarea:focus,
form select:focus {
    border-color: #4195fc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
}

form input[type="text"]:invalid:focus,
form input[type="email"]:invalid:focus,
form input[type="number"]:invalid:focus,
form input[type="search"]:invalid:focus,
form input[type="password"]:invalid:focus,
form textarea:invalid:focus,
form select:invalid:focus {
    border-color: rgb(248,66,66);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
}

form button {
    background-color: #50c1e9;
    border: 1px solid rgba(0,0,0,.1);
    color: rgb(255,255,255);
    font-size: 10pt;
    padding: 5px 10px;
    margin: 13px 5px 0 5px;
    transition: all 400ms ease;
}

form button:hover {
    background-color: #1bc5b3;
    cursor: pointer;
}

.blogin a, .blogin {
    padding: 15px;
    margin: 10px;
}

.blogin a, #showHideLayers a {
    display: block;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 1.25em;
    background-color: #0FA0CE;
    color: white;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10%;
}

.blogin a:hover, .blogin a:active {
	text-decoration: none;
	background-color: white;
	color: #225588;
	font-weight: 600;
}

.blogin {
    position: relative;
    width: 400px;
    background-color: white;
    border-color: #222222;
    color: black;
    border-style: solid;
    border-radius: 30px;
    border-width: 3px;
    margin: 0 auto;
    text-align: center;
    align-self: center;
}

.blogin > h1, .blogin > h3, .blogin > p {
	color: black;
}

.blogin img {
    width: 300px;
    height: auto;
}

.login-body {
    background-image: url("../images/globe-bg2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

#container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
}

.reveal-a, .reveal-t {
	font-size:8pt;
	color:black;
	float:right;
	margin-top:-10px;
}

#icons > img, #icons, #icons > a > img {
    height: 23px;
    width: auto;
    vertical-align: middle;
	padding-left: 10px;
}

#icons {
	float: right;
	margin-right: 22px;
}

#showHideLayers {
    color: black;
    float: right;
	bottom: 28px;
	right: 0px;
	position: absolute;
	z-index: 100000;
	margin: 10px;
	padding: 10px;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	pointer-events: all;
	cursor: default;
}

.mapLayerController {
	margin: 3px;
	float: right;
	cursor: pointer;
}

#layerController {
	list-style-type: none;
}

#layerController > li {
	float: left;
	clear: both;
	width: 100%;
	cursor: pointer;
}

#layerController > li:hover {
	background-color: #8fcaec;
}

.mapLayerController > label, .onMap {
	margin: 4px;
	float: right;
	position: absolute;
	cursor: pointer;
	width: 100%;
	font-size: 14px;
	padding: 1px;
}

#showHideLayers > p {
	font-weight: bold;
	margin-bottom: 5px;
}

#leftSide > input,
#rightSide > input {
	font-size: .8em;
	height: 20px;
	width: 220px;
	margin: 0px 0 2px 0;
}

#leftSide > label,
#rightSide > label {
	font-size: .8em;
	height: auto;
	width: 220px;
	margin: 8px 0 2px 0;
	font-weight: bold;
	line-height: normal;
}

#rightSide {
	float: right;
	position: relative;
	width: 220px;
}

#leftSide {
	position: absolute;
	width: 220px;
}

#profile > p, #profile > ul > li {
    font-size: .8em;
}

#profile > ul {
    padding-left: 25px;
}

#survclose {
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    display: block;
    font-size: 2em;
    padding: 0 15px;
    position: absolute;
    top: 20px;
    transition: all 400ms ease;
    right: 10px;
    line-height: 45px;
}

#firepit {
    float: left;
    left: calc(50% - 20px);
    bottom: 0;
    z-index: 50;
    position: absolute;
}

#firepit img {
    height: 40px;
    width: 40px;
}

#update {
	width:448px;
}

#update > tbody > tr,
#update > tbody > tr > td {
	font-size: 12px;
}

#update > tbody > tr > td {
	width: 222px;

}

#update > tbody > tr > td > label {
	margin: 2px 8px 0 0;
	font-weight: bold;
	font-size: 12px;
}

#update > tbody > tr > td > input,
#update > tbody > tr > td > textarea {
	width: 100%;
	margin: 0;
	margin-top: 2px;
	padding: 3px;
	font-size: 12px;
}

#profileFooter > div > a {
	color:black;
	float: right;
	clear: both;
}

#imageUpload {
	margin: 25px;
	padding: 50px;
}

#imageUpload > p > input,
#imageUpload > p {
	line-height: 20px;
	font-size: 16px;
}

.popUpFormatting > h3 {
	color: black;
}

.popUpFormatting {
	width: 250px;
}

.popUpTitle {
	font-weight: bold;
}

.mapLayerObject > input, #teamName, .mapLayerObjectTextarea, #evType, #details {
	font-size:12px;
	height: 20px;
	width: 180px;
	padding: 2px;
	margin: 3px 3px 10px 3px;
}

.mapLayerObjectBox {
	width: 200px;
	height: 240px;
	font-size: 12pt;
	line-height: 31px;
}

.mapLayerObject {
	width: 190px;
	float: right;
	padding: 2px;
	line-height: normal;
	font-size: 12px;
}

/*.mapLayerObjectTextarea, #details {
	height: 40px;
}*/

.mapLayerObjectLink > img {
	height: 24px;
	width: 24px;
}

#evdSubmit {
	width:100%;
	height: 30px;
	color: white;
	font-weight: bold;
	margin:0;
	padding:0;
	margin-left: 3px;
}

#evdCancel, #withoutPhoto {
	width:50%;
	height: 20px;
	color: white;
	font-size: 10px;
	font-weight: normal;
	margin:3px 3px 10px 3px;
	padding:0;
	background-color: #e95050;
	margin-left: calc(50% - 42px);
}

#areaSubmit {
	width:96%;
	height: 30px;
	color: white;
	font-weight: bold;
	margin:3px;
	padding:0;
}

#areaCancel {
	width:50%;
	height: 20px;
	color: white;
	font-size: 10px;
	font-weight: normal;
	margin:3px 3px 10px 3px;
	padding:0;
	background-color: #e95050;
	margin-left: calc(50% - 49px);
}

.profileh4 {
	margin-bottom: 0;
}

#profileHeader > p,
#profileBody > p {
	margin-left: 5px;
	margin-bottom: 10px;
}

#profileFooter > p {
	font-weight: bold;
	font-size: 1.25em;
}

#loginTarget > h3{
	margin-bottom: 0;
}

#update > tbody > tr > td > span {
	float: right;
	margin-right: 86px;
	margin-top: 10px;
}
